@media screen and (min-width: 50px) and (max-width: 991px) {
  header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 0 0;
  }
  main{
    padding: 0 0 0 0;
  }
  .logo{
    width: 30vw;
    height: 3vh;
    padding: 0 0 0 0;
  }
  .item{
    visibility: hidden;
  }
  .images{
    visibility: hidden;
  }
  .container.way {
    width: 80%;
    margin-top: 10vh;
  }
  .ContainerUpper {
    margin-top: 10vh;
    min-height: 87vh;
  }
  .ContainerMainPage{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Play", sans-serif;
    margin: auto;
    padding: 0 0 0 0;
    width: 100%;
  }
  .motto{
    display: flex;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: left;
    align-items: center;
    width: 80%;
  }
  .MottoHeader{
    font-size: 4rem;
    padding: 0 0 0 0;
  }
  .MottoText{
    font-size: 1.5rem;
    padding: 0 0 0 0;
    width: 100%;
  }
  .MottoTextBottom{
    font-size:  1rem;
    padding: 0 0 0 0;
  }
  .ceo{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .CeoPhoto{
    height: 55vh;
    width: 70%;
  }
  .ContainerWays{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;    
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
  }
  .ContainerWays div{
    width: 100%;
    height: 25%;
    display: flex;         
    align-items: center;    
    justify-content: center; 
    text-align: center;
    margin: 10px;
  }
  .WaysHeader{
    padding-top: 5%;
    width: 100%;
    font-size: large;
    font-family: "Play", sans-serif;
  }
  .ContainerWays > .ContainerWaysHeader{
    width: 100%;
    height: 5%;
    text-align: center;
  }
  .FirstWay,
  .SecondWay,
  .ThirdWay,
  .FourWay,
  .FifthWay,
  .SixthWay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e7f0f7;
    border-radius: 50px;
  }
  .FirstWay > .WaysHeader,
  .SecondWay > .WaysHeader,
  .ThirdWay > .WaysHeader,
  .FourWay > .WaysHeader,
  .FifthWay > .WaysHeader,
  .SixthWay > .WaysHeader {
    width: 100%;
    height: 10%;
    text-align: center;
  }
  .WaysButton button{
    width: 50vw;
    height: 10vh;
  }
  .demo {
  font-size: 1.5rem;
  margin: 0 0 5vh 0;
  }
  .footer{
    display: flex;
    min-height: 45vh;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .footer img{
    width: 40vw;
    height: 5vh;
    order: 0;
  }
.footer a img{
    width: 15vw;
    height: 6vh;
    order: 2;
  }
  .footer div{
    width: 100%;
  }
  .flex{
    display: flex;
    column-gap: 0;  
    flex-direction: row;
    justify-content: center;
    
}
.flex div{
    display: flex;          /* Включаем Flexbox */
    align-items: center;    /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали (опционально) */
    flex-direction: column;
  }
.flex img{
    width: 15vw;
    height: 15vh;
    order: 0;
  }
  .flex p{
    max-width: 80px;
  }
}