/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Общие стили */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* font-family: Arial, sans-serif;
    font-family: 'Playfair Display'; */
    font-family: "Play", sans-serif;
    font-style: normal;
    /* background-image: radial-gradient(at 89.248705795995% 35.76833406563916%, 
    hsla(213.21428571428572, 100%, 32.94117647058823%, 1) 0%, hsla(213.21428571428572, 100%, 32.94117647058823%, 0) 100%), 
    radial-gradient(at 78.72990138797755% 27.776894588282907%, hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 1) 0%, 
    hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 0) 100%), radial-gradient(at 57.86697978638298% 12.202524127820102%, 
    hsla(213.21428571428572, 100%, 32.94117647058823%, 1) 0%, hsla(213.21428571428572, 100%, 32.94117647058823%, 0) 100%), 
    radial-gradient(at 37.55767001434571% 89.89290332883195%, hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 1) 0%, 
    hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 0) 100%), radial-gradient(at 21.287778715089324% 98.83406412479248%, 
    hsla(213.21428571428572, 100%, 32.94117647058823%, 1) 0%, hsla(213.21428571428572, 100%, 32.94117647058823%, 0) 100%), radial-gradient(at 23.40283495286726% 55.98758314363046%, 
    hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 1) 0%, hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 0) 100%), 
    radial-gradient(at 71.00175825595373% 41.97921606805816%, hsla(213.21428571428572, 100%, 32.94117647058823%, 1) 0%, 
    hsla(213.21428571428572, 100%, 32.94117647058823%, 0) 100%), 
    radial-gradient(at 60.60071701123817% 22.123156825525626%, 
    hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 1) 0%, 
    hsla(208.00000000000003, 48.3870967741936%, 93.92156862745098%, 0) 100%); */
}

header {
    display: flex;
    background-color: #e7f0f7;
    padding: 3vh 1vw;
    width: 100vw;     /* Растягивает header на всю ширину экрана */
    position: fixed; /* Фиксирует header на экране */
    top: 0;          /* Прижимает header к верхней части экрана */
    z-index: 1000;   /* Убедитесь, что header находится поверх других элементов */
    border-bottom: white 1px solid;
}

main {
    flex: 1;
    flex-direction: column;
    padding-bottom: 105px;
}

footer {
    background-color: #e7f0f7;
    color: #1e30d3;
    text-align: center;
    bottom: 0;
    padding: 10px 20px;
}
.gradient {
    background:linear-gradient(#e7f0f7 0%, #e7f0f7 50%, #e7f0f7 100%),
    repeating-linear-gradient(45deg, #ffffffcc 5px, 
    rgba(255,255,255,0.8) 20px, transparent 20px, transparent 40px),
    repeating-linear-gradient(-45deg,#00000008 0px,
    rgba(0,0,0,0.03) 10px, transparent 10px, transparent 30px);
    background-blend-mode: multiply;
}
.gradient:hover {
    background-position: 0 10vw, 5vw 0;
    transition: all 0.8s ease;
}
.container{
    width: 80%;
    min-height: 80vh;
    max-width: 1800px;
    margin: auto;
    margin-top: 5vh;
}
.container.way{
    width: 60%;
    min-height: 68vh;
    margin-top: 10vh;
}
.header {
    display: flex;
    width: 100%;
    max-width: 1800px;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vw;
}
.header a{
    text-decoration: none;
    background-image: linear-gradient(#1e30d3, #1e30d3);
    padding-bottom: 0.5vh;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.3vh;
    transition: background-size .3s;
}
.header a:visited{
    color: #1e30d3;
}
.header a:hover{
    background-size: 100% 0.3vh;
}
.logo{
    height: 45px;
    width: 267px;
}
.item {
    display: flex;
    column-gap: 5vw;
    color: white;
    list-style: none;
}
nav{
    display: flex;
    margin-top: 3vh;

}
nav ul{
    display: flex;
    column-gap: 2vw;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0;
}
nav a{
    text-decoration: none;
    background-image: linear-gradient(#1e30d3, #1e30d3);
    padding-bottom: 0.5vh;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.3vh;
    transition: background-size .3s;
    color: #1e30d3;
}
nav a:hover{
    background-size: 100% 0.3vh;
}
nav a:visited{
    color: #1e30d3;
}
.ContainerMainPage{
    padding: 0 10%;
    min-height: 85vh;
    max-width: 1800px;
    margin: auto;
    margin-top: 115px; /*  сделать тут такую же формулу как в header */
	display: flex;
    color: rgb(0, 0, 0);
    border-bottom: #e8f0f7 0.3vh solid;
}
.motto{
    display: flex;
    width: 70%;
    height: auto;
	flex-flow: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20vh;
}
.MottoText{
    font-size: 3rem;
    width: 90%;
    text-align: left;
    padding-left: 9vw;
}
.MottoTextBottom{
    font-size: 35px;
    padding-top: 11.5vh;
    padding-left: 40%;
}
.MottoHeader{
    color: rgb(30, 48, 211);
    padding-top: 15vh;
    padding-right: 5vw;
    font-size: 4rem;
}
.images{
    position: relative;
    pointer-events: none;
    list-style: none;
    bottom: 23vh;
    right: 27vw;
}
.Element1, .Element2{
    position: absolute;
    rotate: 180deg;
}
.Element1{
    top: 0;
    left: 0;
    z-index: 3;
    width: 12vw;
    height: 40.5vh;
}
.Element2{
    width: 22vw;
    height: 40.5vh;
}
.ceo{
    display: flex;
    width: 30%;
    align-items: end;
}
.CeoPhoto{
    width: 30vw;
    height: 80vh;
}
.ContainerWays{
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;    /* Центрируем по вертикали */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}
.ContainerWays div{
    width: 45%;
    height: 50%;
    display: flex;          /* Включаем Flexbox */
    align-items: center;    /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали (опционально) */
    text-align: center;
    margin: 10px;
    
}
.WaysHeader{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
.ContainerWaysHeader{
    width: 100%;
    height: 5%;
    text-align: center;
}
.ContainerWaysHeader p{
    font-size: 1.5rem;
}
.FirstWay,
.SecondWay,
.ThirdWay,
.FourWay,
.FifthWay,
.SixthWay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e7f0f7;
    /* opacity: 0.7; */
    border-radius: 100px; 
}
.WaysText{
    font-size: 1rem;
}
.FirstWay > .WaysHeader,
.SecondWay > .WaysHeader,
.ThirdWay > .WaysHeader,
.FourWay > .WaysHeader,
.FifthWay > .WaysHeader,
.SixthWay > .WaysHeader {
    width: 80%;
    height: 10%;
    text-align: center;
}
.WaysButton{
    display: flex;
    flex-flow: column-reverse;
}
.WaysText, .WaysButton{
    padding-bottom: 5%;
}
.WaysButton button{
    width: 10vw;
    height: 8vh;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    background-color: #1e30d3;
    cursor: pointer;
}
.WaysButton button:hover{
    background-color: #0f20b9;
}

.WaysLogo{
    width: 100px;
    height: 100px;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 

}
.hide + label ~ div{
    display: none;
    border-radius: 2vh;
}
.hide + label:before {
    color: #1e30d3;
    content: "\002B";
    display: block;
    float: right;
    font-size: 1.5rem; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
}
.hide:checked + label:before {
    content: "\2212";
    color: black;
    transition: 0.8s ease-in-out;
}
/* оформляем текст label */
.hide + label {
    width: 100%;
    border-bottom: 0.3vh solid #1e30d3;
    color: #1e30d3;
    padding: 0 0 2vh 0;
    cursor: pointer;
    display: inline-block; 
    transition: 0.8s ease-in-out;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: black;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #e7f0f7;
    padding: 1%; 
    font-size: 1rem;
}

/* demo контейнер */
.demo {
    font-size: 1.5rem;
    margin: 5vh 0;
}
.flex{
    display: flex;
    column-gap: 50px;
    flex-direction: row;
    justify-content: center;
    
}
.flex div{
    display: flex;          /* Включаем Flexbox */
    align-items: center;    /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали (опционально) */
    flex-direction: column;
    width: 24vw;
    height: 30vh;
}
.flex img{
    padding-top: 50px;
    width: 150px;
    height: 200px;
    order: 0;
}
.rounded {
counter-reset: li; 
list-style: none; 
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
    
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 50px;
background: #E9E4E0;
color: black;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded a:hover {
    background: #E9E4E0;
}
.rounded a:hover:before {
    transform: rotate(360deg);
}
.rounded a:before {
content: counter(li);
counter-increment: li; 
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: rgb(236, 235, 236);
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}
footer{
    border-top: #e8f0f7 1px solid;
}
.footer{
    margin: auto;
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.9rem;
}
.footer p{
    order: 1;
    margin-left: auto;
    margin-right: auto;
}
.footer img{
    width: 15vw;
    height: 6vh;
    order: 0;
}
.footer a img{
    width: 3vw;
    height: 6vh;
    order: 2;
}
.footer div{
    width: 40%;
}
.footer hr{
    width: 100%;
    border: solid 0.1vh;
    margin: 0;
    padding: 0;
}

